<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="10">
    <nz-card nsAutoHeightCard [nzLoading]="roleLoading" nzTitle="角色" [nzExtra]="roleExtra">
      <ng-template #roleExtra>
        <a (click)="showAddRoleWin()">新增</a>
      </ng-template>
      <st #st [data]="'api/v1/role/getRoleList'" [columns]="columns"></st>
    </nz-card>
  </div>
  <div nz-col nzSpan="14">
    <nz-card nsAutoHeightCard [nzLoading]="pageLoading" [nzTitle]="pageCardTitle">
      <nz-tree
        [(nzData)]="pageTreeData"
        [nzExpandAll]="expandAll"
        nzCheckable
        nzMultiple
        [nzCheckedKeys]="pageCheckedKeys"
        (nzCheckBoxChange)="pageTreeCheckboxChange($event)"
        #pageTree
      ></nz-tree>
    </nz-card>
  </div>
</div>
