<div nz-row [nzGutter]="16">
  <div nz-col>
    角色
    <!-- <nz-card nsAutoHeightCard [nzLoading]="roleLoading" nzTitle="角色信息" [nzExtra]="roleExtra" class="role-card">
      <ng-template #deptExtra>
        <a (click)="showAddRoleWin()">新增</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showModifyRoleWin()">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="确定要删除吗？" (nzOnConfirm)="deleteRole()">删除</a>
      </ng-template>
    </nz-card> -->
  </div>
</div>
